* {
	box-sizing: border-box;
}
body {
	background-color:#780808;
	font-family:arial, sans-serif;
}
a {
	text-decoration: none;
	color:white;
}
h2 {
	color:#fff;
}
ul, li{
	list-style-type:none;
	margin:0;
	padding:0;
}
input[type="submit"]{
	background-color:white;
}

ul {
	display:flex;
	width:98%;
	margin:10px auto;
	flex-direction:column;
}
li {
	margin-bottom:5px;
	position:relative;
	min-height:175px;
}
li img {
	width:100%;
}
li div {
	margin-bottom:5px;

}

.channel img {
	width:145px;
}
@media(min-width:768px){
	ul {
		align-items:baseline;
		flex-direction: row;
	}
	li {
		width:18%;
		margin:0 1% 5px;
	}
}

@media(min-width:1270px){
	li {
		min-height:200px;
	}
}